<%- include("partials/header.ejs") %>

<div class="container">
  <div class="add-plus">
    <a href="/create">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-plus-square"
        viewBox="0 0 16 16"
        style="color: #ebeef5"
      >
        <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
        />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
        />
      </svg>
    </a>
  </div>

  <div class="card-container">
    <%# each Card %> <% if (!locals.posts) { %>
    <P>don't has posts</P>
    <% } else { %> <% for(let i = posts.length-1; i >= 0; i--) { %>
    <div id="card" class="card-design card-grid">
      <div>
        <h1><%= posts[i].title; %></h1>
        <hr />
      </div>

      <p><%= posts[i].content; %></p>

      <div class="button-container">
        <form action="/edit" method="post">
          <button class="button edit" name="button" value="<%=i%>">Edit</button>
        </form>

        <form action="/" method="post">
          <button class="button delete" name="button" value="<%=i%>">Delete</button>
        </form>
      </div>
    </div>
    <%}%> <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
